/* 전체 컨테이너 */
.resultlast-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #e5e5e5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /* 헤더 */
  .resultlast-header {
    background-color: #fff;
    height: 25vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  .header-top h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-top: 130px;
  }